<h1>All the games</h1>
<%= link_to "New Game", new_game_path %>
<table>
     <tr>
          <th>Name</th>
          <th>Rating</th>
          <th></th>
     </tr>
     <% @games.each do | item | %>
     <tr>
          <td><%=item.name%></td>
          <td><%=item.rating%></td>
          <td><%= link_to "Show", game_path(item.id), {:id => item.id}%></td>
          <td><%= link_to "Edit", edit_game_path(item.id), {:id => item.id}%></td>
     </tr>
     <% end %>
</table>