<h1><%=@item.name%></h1>
<p><%=@item.summary%></p>

<li>
  Rating: <%=@item.rating%>
</li>
<li>
  Release date: <%=@item.release_date%>
</li>
<li>
  Platform(s): <%=@item.platforms.map {|platform| platform.name}.join(", ")%>
</li>
<li>
  Genre(s): <%=@item.genres.map {|genre| genre.name}.join(", ")%>
</li>

<%= link_to "Back to Games", games_path %>